 {% load static %}
 <html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/dbdata.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title> DBDATA APP </title>
    </head>
<body>
    <div class="page-header">

        <a href="{% url 'table_1' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
<!--    <h1></dialog> Heading 1 </h1>
    <h2> Heading 1 </h2>
    <h3> Heading 1 </h3>
    <h4> Heading 1 </h4>
    <h5> Heading 1 </h5>
     -->
    {% comment %} <p>Hi ! {{ name }}</p> {% endcomment %}
    {% block details %}
    <a href="{% url 'table_1' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endblock  %}
    {% comment %} <p>All Results: {{ all_data }}</p> {% endcomment %}
    <!-- <p>It works!</p>
    <em>Emphasized Text</em>
    <strong>Strong text</strong>
    <br>
    <a href="http://192.168.1.7:8000/admin">Link to Admin Site</a>
    
    <div>
        <ul><li>First</li><li>second</li></ul>
        <h6> Heading 1 </h6>
    </div>
     -->

</body>
</html>